@{
    ViewBag.Title = "About";
}


<h3>Sobre</h3>

<p>
    O maior desafio que já encarei na minha carreira como desenvolvedor foi participar da migração de um antigo WebAPI
    (versão .net4.7 framework) para o novo .Net 5 (2020). Levantamos todo o trabalho necessário junto com o DevOps,
    seria vantajoso utilizar o .Net Core pois seria possível: fácil utilização de container dockers, permitir que
    os desenvolvedores utilizem as novas funcionalidades além de permitir desenvolver em ambiente Linux e MacOS, maior
    facilidade em migrar para as seguintes versões do .net core. O contexto foi favorável, empresa passava por um bom
    momento e as tarefas estavam adiantas e portanto não iria impactar na permormance do time de desenolvimento.
</p>

<p>
    Além de migrar o sistema inteiro seria necessário migrar os pacotes NuGets utilizados, tive que analisar todo o código
    para verificar o uso das dependências e especificiar o pacote NuGet a ser utilizado no novo .Net Core para qualquer funcionalidade
    especifica. Além disso foi necessário verificar todas as configurações específicas para serem inseridas após a migração.
    Além da parte técnica, durante o processo de migração, precisei intruir o novo desenolvedor que havia acabado de entrar na 
    empresa, mostrar as ferramentas, código e os processos da empresa. No fim o sistema foi migrado com sucesso para o novo .Net Core
</p>
