@{
    ViewBag.Title = "Home Page";
}

<h1>Sidney François Villalba Mendoza</h1>

<h3>Cargo pretendido: Desenvolvedor .NET Pleno</h3>
<h4>Pretensão salarial: R$5000 (salário bruto)</h4>
<h4>Data do teste: 23/02/2023</h4>
<p>Projeto de csv foi inicializado dia 25/02/2023 e finalizado dia 02/03/2023</p>
<p>Projeto MVC foi uma tentativa de finalizar o teste antigo (ClimaTemploSimples), foi inicializado dia 22/02/2023,
    no dia 02/03/2023 foi retomado apenas para inserir a página Home e About para a finalização do teste técnico.</p>